/.android/
!.android/debug.keystore
/.claude/
/.devenv*
/.direnv/
/.gradle/
/.idea/
/.kotlin/
/.pre-commit-config.yaml
*.iml
**/build/
xcuserdata
!src/**/build/
local.properties
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings